parameters:
	ignoreErrors:
		-
			message: "#^Cannot access property \\$name on WP_Post\\|WP_Post_Type\\|WP_Term\\|WP_User\\|null\\.$#"
			count: 1
			path: src/ArchivePostType.php

		-
			message: "#^Parameter \\#6 \\$callback of function add_submenu_page expects callable\\(\\)\\: mixed, false given\\.$#"
			count: 1
			path: src/ArchivePostType.php

		-
			message: "#^Method JazzMan\\\\Post\\\\CustomPostType\\:\\:addAdminColumns\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/CustomPostType.php

		-
			message: "#^Method JazzMan\\\\Post\\\\CustomPostType\\:\\:getPostTypeOptions\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/CustomPostType.php

		-
			message: "#^Method JazzMan\\\\Post\\\\CustomPostType\\:\\:registerTaxonomy\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/CustomPostType.php

		-
			message: "#^Method JazzMan\\\\Post\\\\CustomPostType\\:\\:setFilters\\(\\) has parameter \\$filters with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/CustomPostType.php

		-
			message: "#^Method JazzMan\\\\Post\\\\CustomPostType\\:\\:updatedMessages\\(\\) should return array\\<string, array\\<string, mixed\\>\\> but returns array\\<string, array\\<int\\|string, mixed\\>\\>\\.$#"
			count: 1
			path: src/CustomPostType.php

		-
			message: "#^Offset 0 does not exist on array\\<string, mixed\\>\\.$#"
			count: 2
			path: src/CustomPostType.php

		-
			message: "#^Offset 1 on array\\<string, mixed\\> in isset\\(\\) does not exist\\.$#"
			count: 1
			path: src/CustomPostType.php

		-
			message: "#^PHPDoc tag @var above a method has no effect\\.$#"
			count: 1
			path: src/CustomPostType.php

		-
			message: "#^PHPDoc tag @var for variable \\$args has no value type specified in iterable type array\\.$#"
			count: 2
			path: src/CustomPostType.php

		-
			message: "#^PHPDoc tag @var for variable \\$default_term has no value type specified in iterable type array\\.$#"
			count: 2
			path: src/CustomPostType.php

		-
			message: "#^PHPDoc tag @var for variable \\$rewrite has no value type specified in iterable type array\\.$#"
			count: 2
			path: src/CustomPostType.php

		-
			message: "#^Property JazzMan\\\\Post\\\\CustomPostType\\:\\:\\$filters type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/CustomPostType.php

		-
			message: "#^Property JazzMan\\\\Post\\\\CustomPostType\\:\\:\\$populateColumns type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/CustomPostType.php

		-
			message: "#^Property JazzMan\\\\Post\\\\CustomPostType\\:\\:\\$taxonomySettings type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/CustomPostType.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/CustomPostType.php

		-
			message: "#^Cannot access property \\$post_content on WP_Post\\|null\\.$#"
			count: 1
			path: src/helper.php

		-
			message: "#^Cannot access property \\$post_title on WP_Post\\|null\\.$#"
			count: 1
			path: src/helper.php

		-
			message: "#^Function JazzMan\\\\Post\\\\cpt_get_post_type_labels\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/helper.php

		-
			message: "#^Function JazzMan\\\\Post\\\\cpt_get_post_type_labels\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/helper.php

		-
			message: "#^Function JazzMan\\\\Post\\\\cpt_get_taxonomy_labels\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/helper.php

		-
			message: "#^Function JazzMan\\\\Post\\\\cpt_get_taxonomy_labels\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/helper.php

		-
			message: "#^Parameter \\#1 \\$post of function get_post expects int\\|WP_Post\\|null, int\\<min, \\-1\\>\\|int\\<1, max\\>\\|true given\\.$#"
			count: 2
			path: src/helper.php
