parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\$args of function register_post_type expects array\\{label\\?\\: string, labels\\?\\: array\\<string\\>, description\\?\\: string, public\\?\\: bool, hierarchical\\?\\: bool, exclude_from_search\\?\\: bool, publicly_queryable\\?\\: bool, show_ui\\?\\: bool, \\.\\.\\.\\}, array\\{description\\: 'Archive posts…', public\\: false, show_in_nav_menus\\: false, show_in_admin_bar\\: false, exclude_from_search\\: true, show_ui\\: true, show_in_menu\\: true, can_export\\: true, \\.\\.\\.\\} given\\.$#"
			count: 1
			path: src/ArchivePostType.php

		-
			message: "#^Parameter \\#6 \\$callback of function add_submenu_page expects callable\\(\\)\\: mixed, false given\\.$#"
			count: 1
			path: src/ArchivePostType.php

		-
			message: "#^Parameter \\#1 \\$args of function wp_dropdown_categories expects array\\{show_option_all\\?\\: string, show_option_none\\?\\: string, option_none_value\\?\\: string, orderby\\?\\: string, pad_counts\\?\\: bool, show_count\\?\\: bool\\|int, echo\\?\\: bool\\|int, hierarchical\\?\\: bool\\|int, \\.\\.\\.\\}, array\\{hide_empty\\: 0, hierarchical\\: 1, show_count\\: 0, orderby\\: 'name', name\\: non\\-falsy\\-string, value_field\\: 'slug', taxonomy\\: string, selected\\: mixed, \\.\\.\\.\\} given\\.$#"
			count: 1
			path: src/CustomPostType.php

		-
			message: "#^Parameter \\#2 \\$args of function register_post_type expects array\\{label\\?\\: string, labels\\?\\: array\\<string\\>, description\\?\\: string, public\\?\\: bool, hierarchical\\?\\: bool, exclude_from_search\\?\\: bool, publicly_queryable\\?\\: bool, show_ui\\?\\: bool, \\.\\.\\.\\}, array\\<string, mixed\\> given\\.$#"
			count: 1
			path: src/CustomPostType.php

		-
			message: "#^Parameter \\#1 \\$callback of function call_user_func expects callable\\(\\)\\: mixed, \\(callable\\(\\)\\: mixed\\)\\|string given\\.$#"
			count: 1
			path: src/PostTypeMeta.php

		-
			message: "#^Parameter \\#1 \\$callback of function call_user_func expects callable\\(\\)\\: mixed, \\(callable\\(\\)\\: mixed\\)\\|string\\|null given\\.$#"
			count: 1
			path: src/PostTypeMeta.php
